{% extends 'catalog/base.html' %}

{% block title %}Список сообщений{% endblock %}

{% block heading %}
<h2>Список сообщений</h2>
<a class="btn btn-primary" href="{% url 'blog:message_create' %}" role="button">Добавить сообщение</a>
{% endblock %}

{% block content %}
<style>
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .card {
        width: 100%;
        max-width: 300px;
    }
    .card-img-top {
        height: 200px;
        object-fit: contain;
    }
    .card-body {
        flex: 1 1 auto;
    }
    .card-text {
        margin-top: auto;
    }
</style>

<div class="card-container">
    {% for message in messages %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <a href="{% url 'blog:message_detail' message.pk %}">{{ message.title }}</a>
            </h5>
        </div>
        <div class="card-body">
            {% if message.preview %}
            <img src="{{ message.preview.url }}" class="card-img-top" alt="{{ message.title }}">
            {% else %}
            <img src="" class="card-img-top" alt="{{ message.title }}">
            {% endif %}
            <p class="card-text">{{ message.description|truncatechars:100 }}</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="{% url 'blog:message_detail' message.pk %}" role="button">Посмотреть</a>
            <a class="btn btn-primary" href="{% url 'blog:message_update' message.pk %}" role="button">Редактировать</a>
            <a class="btn btn-primary" href="{% url 'blog:message_delete' message.pk %}" role="button">Удалить</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
