{% extends 'catalog/base.html' %}
<head>
    {% block title %} {{ message.title }} {% endblock %}
</head>
{%block heading%}
<h2>{{ message.title }}</h2>
{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ message.title }}</h4>
        </div>
        <div>
            {% if message.preview %}
            <img src="{{ message.preview.url }}" alt="{{ message.title }}">
            {% else %}
            <img src="" alt="{{ message.title }}">
            {% endif %}
        </div>
        <div class="card-body">
            <p>{{ message.description}}</p>
            <p>Сообщение добавлено: {{ message.created_at|date:"d M Y" }}</p>
            <p>{{ message.is_published }}</p>
            <p class="card-title pricing-card-title">Счетчик просмотров: {{ message.view_counter }}</p>
        </div>
        <a class="btn btn-primary" href="{% url 'blog:message_list' %}" role="button">Назад</a>
    </div>
</div>
{% endblock %}